{% load static %}

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">

      <div class="container">

        <div class="row  justify-content-center">
          <div class="col-lg-6">
            <h3>Subscribe for Newsletters</h3>
          </div>
        </div>

        <div class="row footer-newsletter justify-content-center">
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email" placeholder="Enter your Email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>

        <div class="social-links">
          <a href="https://twitter.com/manikdae" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.facebook.com/ManikDAE34/" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.instagram.com/manikdae/" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="https://www.linkedin.com/in/manikdae/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>

      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="row text-center">
        <div class="copyright col-lg-4">
          2023 &copy; Copyright <strong><span>Manik</span></strong>. All Rights Reserved
        </div>
        <div class="credits col-lg-4">
          Unique Visitor: <a href="">1{{ count }}</a>
        </div>
        <div class="credits col-lg-4">
          Designed & Developed by <a href="https://maniksarker.com/">Md. Manik Sarker</a>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->